    <section class="banner full ">
      <article>
        <img src="../../assets/images/slide01.jpg" alt="" />
        <div class="inner">
          <header>
            <h2><img style="display:  block; width: 100px;" src="../../assets/images/logo.png">Leafys</h2>
            <p>Find Creative Designs by Creative people</p>
            <h4 style="margin-bottom: 20px;margin-top: 50px;">Sign up now to get Free access</h4>
            <button routerLink="/signup" mat-stroked-button class="homebtn">Sign up</button>
          </header>
        </div>
      </article>
      <article>
        <img src="../../assets/images/slide02.jpg" alt="" />
        <div class="inner">
          <header>
            <h2 style="color: #577383 !important;"><img style="display:  block; width: 100px;" src="../../assets/images/logo.png">Leafys</h2>
            <p>Royalty-free stock images & photos</p>
            <h4 style="margin-bottom: 20px;margin-top: 50px;">Log in to get Free access</h4>
            <button routerLink="/login" mat-stroked-button class="homebtn">Log In</button>
          </header>
        </div>
      </article>
      <article>
        <img src="../../assets/images/slide04.jpg"  alt="" />
        <div class="inner">
          <header>
            <h2 style="color: #712449 !important;"><img style="display:  block; width: 100px;" src="../../assets/images/logo.png">Leafys</h2>
            <p>Powered by creators everywwhere</p>
            <h4 style="margin-bottom: 20px;margin-top: 50px;">Sign up now to get Free access</h4>
            <button (click)="scroll(target)" style="background-color: #461c30 !important;" mat-stroked-button class="homebtn">Discover</button>
          </header>
        </div>
      </article>
      <article>
        <img src="../../assets/images/slide05.jpg"  alt="" />
        <div class="inner">
          <header>
            <h2 style="color: #7FBBD8 !important;"><img style="display:  block; width: 100px;" src="../../assets/images/logo.png">Leafys</h2>
            <p>Find Creative Designs by Creative people</p>
            <h4 style="margin-bottom: 20px;margin-top: 50px;">Discover The Creativity by the Creative</h4>
            <button (click)="scroll(target)" mat-stroked-button class="homebtn">Discover</button>
          </header>
        </div>
      </article>
    </section>

    <section id="one" class="wrapper style2">
      <div class="inner">
        <div class="grid-style">

          <div>
            <div class="box">
              <div class="image fit">
                <img src="../../assets/images/pic02.jpg" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                  <p>Fetch random images</p>
                  <h2>Get Random images</h2>
                </header>
                <p>Get Random image everytime you refresh the page.[Right Click the Image>Save Image...] To save the Image</p>
                <footer class="align-center">
                  <a target="new" href="https://picsum.photos/1920/1080" download class="button alt border-accent">Download Random Image</a>
                </footer>
              </div>
            </div>
          </div>

          <div>
            <div class="box">
              <div class="image fit">
                <img src="../../assets/images/icons.png" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                  <h2>Icons, Vectors & Videos</h2>
                </header>
                <p>Get Icons, vector backgrounds, clip art, icons, creative assets. You’ll find what you need.</p>
                <footer class="align-center">
                  <a class="button alt">Coming Soon</a>
                </footer>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section id="two" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          <h1>About Us</h1>
          <h2>Empowering Creators</h2>
          <p>By providing free stock photos Leafys helps millions of creators all over the world to easily create beautiful products and designs.</p>
          <p>Only free images from our community of photographers are added to our photo database. We constantly try to deliver as many high quality free stock photos as possible to the creatives who use our website.</p>
        </header>
      </div>
    </section>


    <section #target id="three" class="wrapper style2">
      <div class="inner">
        <header class="align-center">
          <p class="special">Check out some of our free to use Images which are 100% copyright free</p>
            <h2 class="dis">Discover Images</h2>

        </header>
        <div class="gallery">
          <div>
            <div class="image fit">
              <a ><img src="../../assets/images/Home_1.jpg" alt="" /></a>
            </div>
          </div>
          <div>
            <div class="image fit">
              <a ><img src="../../assets/images/Home_2.jpg" alt="" /></a>
            </div>
          </div>
          <div>
            <div class="image fit">
              <a ><img src="../../assets/images/Home_3.jpg" alt="" /></a>
            </div>
          </div>
          <div>
            <div class="image fit">
              <a ><img src="../../assets/images/Home_4.jpg" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </section>




